[Unit]
Description=osqueryd
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=root
Group=root
EnvironmentFile={{ fleet_secret_env_file }}
ExecStop=kill -SIGTERM $MAINPID
ExecStart={{ osqueryd_path.stdout }} \
  --flagfile={{ osqueryd_flags_file }}

[Install]
WantedBy=multi-user.target
